* {
    font-family: 'Montserrat'; 
}

h3, p {
    color: #333333; 
}

a {
    color:#022b3a;
    text-decoration:underline;
}

h2 {
    color:#022b3a;
    margin-top:0;
}

body, html {
    font-family: 'Montserrat';
    background: white;
    margin-top:0;
    margin: 0;
    height: 100%;
}

.header-container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    padding-bottom: -5px;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border-bottom: 3px solid #6a6969;
    margin-top:0;
}

/* .hero{
    display: flex;
    background-image: url(../assets/images/hero-photo.jpg);
    min-height: 400px;
    min-width: none;
    background-repeat: repeat;
} */

.hero {   
    display: flex;
    align-items: flex-end;
    justify-content: right;
    min-height: 20%;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url(../assets/images/hero-photo.jpg);
 
  }

.hero-text {
    display: flex;
    background-color: lightblue;
    margin-bottom: 10px;
    margin-right: 20px;
} 
.main-header h1 {
    color: white;
}

.main-nav ul, li, a {
    display: flex;
    text-align: center;
    display: inline-block;
    justify-content: space-around;
    padding: 3px;
}

.main-nav a{
    font-family: 'Montserrat';
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-decoration: dotted;
}

.col1 {grid-area: col1;}
.col2 {grid-area: col2;}
.col3 {grid-area: col3;}
.col4 {grid-area: col4;}
.col5 {grid-area: col5;}
.col6 {grid-area: col6;}
.card1 {grid-area: card1;}
.card2 {grid-area: card2;}
.card3 {grid-area: card3;}
.card4 {grid-area: card4;}
.card5 {grid-area: card5;}

.grid-container {
    display:grid;
    margin-top:20px;
    margin-left:0px;
    grid-template-areas:
        'col1 col2'
        'col3 col4'
        'col5 col6';
    gap: 20px; 
}

.col4{
    display: grid;
    gap: 10px;
    grid-template-areas:
    'card1 card1'
    'card2 card3'
    'card4 card5';
}

.col1, .col3, .col5 {
    display: grid;
    background-color: white;
    justify-content: right;
    align-items: baseline;
    padding-right: 25px;
    border-right: 3px solid #022b3a;
    }


.project {
    display: flex;
    display: inline;
    position: relative; 
    bottom: 15px;
    padding: 5px;
    float: left;
    background-color: lightblue;
}

.project a {
    text-align: left;
    text-decoration: none;
}

.card1 {
    display: grid;
    justify-content: flex-start;
    background-image: url(../assets/images/horiseon.png);
    align-items: end;
    min-width: 300px;
    min-height: 400px;
    background-color: white;
    border: 3px solid lightblue;
}

.card2, .card3, .card4, .card5 {
    display: grid;
    min-width: 50px;
    min-height: 200px;
    justify-content: flex-start;
    align-items: end;
    background-color: white;
    border: 3px solid lightblue;
}

.card2 {
    background-image: url(../assets/images/zen-garden.png);
}

.card3 {
    background-image: url(../assets/images/netflix.png);
}

.card4, .card5 {
    background-image: url(../assets/images/coming-soon.jpg);
}

footer {
    background: rgba(255, 255, 255, 0.5);
}

@media (max-width: 400px) {
    .flex-grid {
      display: inline-block;
    }
  }